@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #131416;
}

.primary-background {
  background: linear-gradient(180deg, #43df9b 0%, #3dbab5 100%);
}

.primary-gradient-border {
  position: relative;
  background: linear-gradient(180deg, #43df9b 0%, #3dbab5 100%);
}

.primary-gradient-border::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #131416;
  border-radius: 4.8px;
}

.primary-gradient-text {
  background: linear-gradient(180deg, #43df9b 0%, #3dbab5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

input,
textarea {
  background-color: #202123;
  border-radius: 5.33333px;
  padding: 16px;
  color: white;
}

button {
  transition: opacity 0.2s linear;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  background: rgb(156 163 175 / var(--tw-bg-opacity)) !important;
  color: gray !important;
}

textarea:focus,
input:focus,
button:focus {
  outline: unset;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
